services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
#    restart: unless-stopped
    env_file:
      - ./env/docker.env
      - ./env/log.env
      - ./env/bot.env
    volumes:
      - ./logs/:/app/logs
    command: ["python", "main.py"]
